.section.project .options {
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:1rem;
    margin-bottom:2rem;
   
}
.section.project .options select {
    padding:1rem;
    position: relative;
    background-color: #a0a0c0;
    border:1px solid var(--color-gray);
    border-radius:1rem;

    background-image: linear-gradient(45deg, transparent 50%, rgb(132, 132, 132) 50%), linear-gradient(135deg, rgb(132, 132, 132) 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.section.project .card-wrap{
    display:grid;
    gap:2rem;
    margin-bottom:2rem;
}  

.section.project .card {
    padding:2rem;
    font-size:1.4rem;
    border:1px solid var(--color-gray);
    border-radius: 1rem;
}  

.section.project .card-list {
    margin:1rem 0;
}

.section.project .card .tit{
   font-size:1.7rem;
   font-weight:var(--font-bold) ;
}

.section.project .card .img img {
    width:100%;
    height:25rem;
    object-fit: cover;
}

/* ============  MEDIA QUERIES (Tablet DEVICES)  ============== */
@media screen and (min-width: 768px){
    .section.project .card-wrap{
        grid-template-columns: 1fr 1fr;
    }
}

/* ============  MEDIA QUERIES (PC DEVICES)  ============== */
@media screen and (min-width: 1240px){
    .section.project .card-wrap{
        grid-template-columns: 1fr 1fr 1fr;
        gap:3;
    }
}
  
  